BASE_URL = 'https://fwtsolutions.co.uk',
SECONDARY_API_URL = 'https://test.fwtsolutions.co.uk',
API_KEY = 'API_KEY',
SENTRY_DSN = 'https://5a101e43010540dc8fb5247780c8b7f8@o4507728913956864.ingest.de.sentry.io/4507743999492176',